.liked {
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: #424242;
  text-align: left;
  margin-bottom: 12px;
}

.liked span {
  font-weight: 500;
}

.itemsContainer {
  max-height: 520px;
  min-width: 500px;
  overflow: auto;
  padding-right: 14px;
}

.filler {
  margin-bottom: 200px;
}

/*custom scroll-bar*/
.itemsContainer::-webkit-scrollbar {
  width: 4px;
}

.itemsContainer::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(#41522E);
  background-color: #e7e7e7;
}

.itemsContainer::-webkit-scrollbar-thumb {
  background-color: #41522E;
  border-radius: 2px;
  /* outline: 1px solid #41522E; */
}