.block {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.block:after {
    content: '';
    height: 1px;
    background: rgba(135, 135, 135, 0.2);
    border-radius: 8px;
    display: block;
    margin: 0;
}

.container {
    margin: 16px 0;
    display: flex;
    flex-direction: column;
}

.hotelTitle {
    font-weight: 300;
    font-size: 17px;
    line-height: 22px;
    color: #424242
}

.info {
    text-align: left;
}

.date {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #878787;
}

.date span {
    background: #C4C4C4;
    border-radius: 2px;
    width: 9px;
    height: 1px;
    content: '';
    display: inline-block;
    margin: 4px 10px;
}

.stars {
    margin-top: 10px;
}


.starsPrice{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.heart {
    cursor: pointer;
    width: 21px;
    margin-left: auto;
}

.heart svg path {
    transition: fill linear .2s;
}

.heart:hover svg path{
    fill: #ebebeb;
}

.priceText {
    font-weight: 300;
    font-size: 11px;
    line-height: 22px;
    color: #878787;
    width: 28px;
    height: 18px;
    margin-right: 8px;
}

.priceNumber {
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #424242;
    width: 74px;
    height: 21px;
    text-align: right;
}

.title_heart {
    display: flex;
}