.sortbuttons {
  margin: 32px 0;
  display: flex;
}

.btn {
  display: flex;
  align-items: center;
  padding: 4px 8px;
  height: 28px;
  background: #FFFFFF;
  border-radius: 4px;
  margin-right: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.btnActive {  
  border: 1px solid #41522E;
  color: #41522E;
}

.btnDis {
  border: 1px solid #E5E5E5;
  color: #99A0A3;
}

.arrow {
  display: flex;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-left: 4px;
}
